.card-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  height: 50vh;
  padding-top: 30vh;
  background-size: contain;
  background-repeat: no-repeat;

  .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -12rem;
    z-index: 10;
    color: white;

    .card-links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 1rem;

      span {
        text-align: center;
      }
    }
  }
}
