.card-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;

  img {
    position: absolute;
    object-fit: contain;
  }

  &,
  img {
    width: 80%;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 10;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

    .card-links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 1rem;

      span {
        text-align: center;
      }
    }
  }
}
