$card-border-radius: 20px;

.card-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40rem;
  width: 80%;

  .card-container {
    position: absolute;
    margin: 0 0 5rem;
    top: 2rem;
    object-fit: contain;
    border-radius: $card-border-radius;
    border: white 1px solid;
    width: 80%;
    height: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.7);
    box-shadow: 2rem 2rem 2rem black;

    .card-image {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $card-border-radius;

      .card-image-filter {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: $card-border-radius;
        z-index: 10;
        background:linear-gradient(black, #0000, #0000, #000000b3);

        @media screen and (min-width: 600px) {
          background:linear-gradient(#0000003f, #0000, #0000, black);
        }
      }

      img {
        object-fit: cover;
        margin-top: 6rem;
        height: 26rem;

        @media screen and (min-width: 600px) {
          margin-top: 0;
          height: 100%;
        }
      }
    }

    .card-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      z-index: 10;
      color: black;
      background-color: white;
      min-height: 3rem;
      justify-content: center;

      @media screen and (min-width: 600px) {
        width: 30%;
        bottom: 0;
        min-height: 7rem;
      }

      &.left {
        top: 0;
        border-radius: $card-border-radius $card-border-radius 0 0;
        box-shadow: 0 2px 10px white;

        @media screen and (min-width: 600px) {
          bottom: auto;
          border-radius: $card-border-radius 0 0 0;
          box-shadow: 2px 2px 10px white;
        }

        h1 {
          margin-bottom: 0;
        }
      }

      &.right {
        right: 0;
        bottom: 3rem;
        font-size: .75rem;
        line-height: 1.25rem;
        display: flex;
        box-shadow: 0 -2px 10px white;

        @media screen and (min-width: 600px) {
          border-radius: 0 0 $card-border-radius 0;
          box-shadow: -2px -2px 10px white;
          bottom: 0;
        }
      }

      h1, p {
        text-align: center;
        padding: 0 1rem;
      }

      .card-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;

        span {
          text-align: center;
        }
      }
    }
  }
}
