.carousel-component {
  position: relative;
  display: flex;

  .viewport-wrapper {
    overflow: hidden;
  }

  .carousel-viewport {
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &.no-scroll-animation {
      scroll-behavior: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .slide {
    white-space: normal;
    position: relative;
    vertical-align: top;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    scroll-snap-align: start;
    width: 100%;
  }

  .carousel-nav {
    position: absolute;
    top: 0;
    cursor: pointer;
    outline: none;
    z-index: 4;
    align-items: center;
    justify-content: center;

    &.nav-left {
      left: 20vw;
    }

    &.nav-right {
      right: 20vw;
    }
  }
}
