.hero-component {
  &:not(.app-hero) {
    display: grid;
    grid-template: $grid-template-mobile / $grid-template-mobile;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100vh;

    @media screen and (min-width: 600px) {
      grid-template: $grid-template-desktop / $grid-template-desktop;
    }

    & > * {
      align-self: center;
      justify-self: center;

      &:not(.background-video) {
        z-index: 2;
      }
    }

    & > .carousel-component.grid-bottom {
      @media screen and (min-width: 600px) {
        margin-top: -18rem;
      }
    }

    .home-content {
      color: white;
      text-align: center;

      @media screen and (min-width: 600px) {
        color: black;
        text-align: left;
      }
    }

    .about-me-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .headshot {
        border-radius: 200px;
        width: 50%;
      }

      .about-me-text {
        padding: 2rem;
        text-align: center;
      }

      @media screen and (min-width: 600px) {
        flex-direction: row;
        min-width: 50rem;

        img {
          width: 75%;
        }

        .about-me-text {
          text-align: end;
          margin-right: 5rem;
        }
      }
    }

    &.projects-hero {
      .hero-title {
        align-self: auto;
      }
    }

    &.misc-hero {
      .hero-title {
        text-align: center;
      }

      .tech-stack {
        text-align: center;

        ul {
          @media screen and (min-width: 760px) {
            column-count: 2;
          }
        }
      }
    }
  }

  .background-video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
}
