.hero-component {
  &:not(.app-hero) {
    display: grid;
    grid-template: $grid-template-mobile / $grid-template-mobile;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100vh;

    @media screen and (min-width: 600px) {
      grid-template: $grid-template-desktop / $grid-template-desktop;
    }

    & > * {
      align-self: center;
      justify-self: center;

      &:not(.background-video) {
        z-index: 2;
      }
    }

    & > .carousel-component.grid-bottom {
      @media screen and (min-width: 600px) {
        margin-top: -18rem;
      }
    }

    .home-content {
      color: white;
      text-align: center;

      @media screen and (min-width: 600px) {
        color: black;
        text-align: left;
      }
    }

    .about-me-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .headshot {
        border-radius: 200px;
        width: 50%;
      }

      .about-me-text {
        padding: 2rem;
        text-align: center;
      }

      @media screen and (min-width: 600px) {
        flex-direction: row;
        min-width: 50rem;

        img {
          width: 75%;
        }

        .about-me-text {
          text-align: end;
          margin-right: 5rem;
        }
      }
    }

    &.projects-hero {
      .hero-title {
        align-self: auto;
      }
    }

    &.misc-hero {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 760px) {
        display: grid;
      }

      .arrow-down {
        text-align: center;
        margin-bottom: 1rem;
        animation: glow 2s ease infinite;
      }

      .hero-title {
        text-align: center;
      }

      .misc-section {
        h1 {
          text-decoration: underline;
        }
      }

      .resume {
        display: flex;
        flex-direction: column;

        .resume-download {
          padding: 1.5rem;
          border-radius: 10px;
          text-align: center;
          font-weight: bold;
          color: inherit;
          box-shadow: 2rem 2rem 2rem black;
          text-decoration: none;
          background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
          background-size: 400% 400%;
          animation: gradient 5s ease infinite;
          transition: transform 1s ease;

          &:hover {
            transform: scale(1.15);
          }
        }
      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      @keyframes glow {
        0% {
          text-shadow: 0 white;
        }
        50% {
          text-shadow: 2px 0 5px white, -2px 0 5px white;
        }
        100% {
          text-shadow: 0 white;
        }
      }

      .tech-stack {
        text-align: center;

        ul {
          @media screen and (min-width: 760px) {
            column-count: 2;
          }
        }
      }
    }
  }

  .background-video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
}
