@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
$grid-template-mobile: 90%;
$grid-template-desktop: repeat(3, 30%);
$icon-color-primary: lightcyan;
$icon-color-secondary: navy;
