@import "./style/vars";
@import "./style/atomic";
@import "./style/hero";
@import "./style/links";
@import "./style/card";
@import "./style/footer";
@import "./style/copyright";
@import "./style/carousel";

#app {
  font-family: 'Spartan', sans-serif;
  color: white;
  // background-image: url("./textured-paper.png");
  position: relative;
  width: 100%;
  overflow: hidden;
}
