@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
$grid-template-mobile: 90%;
$grid-template-desktop: repeat(3, 30%);
$icon-color-primary: lightcyan;
$icon-color-secondary: navy;

#app {
  font-family: 'Spartan', sans-serif;
  color: black;
  background-image: url("./textured-paper.png");
  position: relative;
  width: 100%;

  .hero-component {
    display: grid;
    grid-template: $grid-template-mobile / $grid-template-mobile;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100vh;

    @media screen and (min-width: 600px) {
      grid-template: $grid-template-desktop / $grid-template-desktop;
    }

    & > * {
      align-self: center;
      justify-self: center;

      &:not(.background-video) {
        z-index: 2;
      }
    }

    .home-content {
      color: white;
      text-align: center;

      a {
        color: $icon-color-primary;
      }

      @media screen and (min-width: 600px) {
        color: black;
        text-align: left;

        a {
          color: $icon-color-secondary;
        }
      }
    }

    .about-me-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      img {
        width: 50%;
      }

      .about-me-text {
        padding: 2rem;
      }

      @media screen and (min-width: 600px) {
        flex-direction: row;
        min-width: 50rem;

        img {
          width: 75%;
        }

        .about-me-text {
          text-align: end;
          margin-left: 5rem;
        }
      }
    }

    .background-video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .links-component {
    a {
      color: $icon-color-primary;
      opacity: 0.6;
      text-decoration: none;
      padding-right: 0.75rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        opacity: 1;

        svg {
          transform: scale(1.5);
          transition: transform 0.25s;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    background: linear-gradient(#00000000, #00000099);
    color: white;
  }

  .headshot {
    border-radius: 500px;
  }

  .copyright {
    margin: 0;
    padding: 1rem 0;
    opacity: .8;
  }

  .carousel {
    display: flex;
    flex-direction: row;
  }

  .grid-left {
    grid-column: 1;
  }
  .grid-right {
    grid-column: 3;
  }
  .grid-h-center {
    grid-column: 2;
  }
  .grid-top {
    grid-row: 1;
  }
  .grid-bottom {
    grid-row: 3;
  }
  .grid-v-center {
    grid-row: 2;
  }
}
