$grid-template: repeat(3, 30%);

#app {
  color: black;
  background-image: url("./textured-paper.png");
  position: relative;
  width: 100%;

  .hero-component {
    display: grid;
    grid-template: $grid-template / $grid-template;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100vh;

    & > * {
      align-self: center;
      justify-self: center;
    }

    &.home {
      color: white;

      & > *:not(.background-video) {
        z-index: 5;
      }
    }

    .background-video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .links-component {
    a {
      color: darkkhaki;
      opacity: 0.8;
      text-decoration: none;
      padding-right: 0.75rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        opacity: 1;

        svg {
          transform: scale(1.5);
          transition: transform 0.25s;
        }
      }
    }
  }

  .carousel {
    display: flex;
    flex-direction: row;
  }

  .grid-left {
    grid-column: 1;
  }
  .grid-right {
    grid-column: 3;
  }
  .grid-h-center {
    grid-column: 2;
  }
  .grid-top {
    grid-row: 1;
  }
  .grid-bottom {
    grid-row: 3;
  }
  .grid-v-center {
    grid-row: 2;
  }
}
